<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039724275291-qo9rd6unuu7ocmk41655bvlrda3a1ee5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039724275291-qo9rd6unuu7ocmk41655bvlrda3a1ee5</string>
	<key>API_KEY</key>
	<string>AIzaSyC--fqMdHFD7J7QOb-s_UmCK85rt7zqhDI</string>
	<key>GCM_SENDER_ID</key>
	<string>1039724275291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFoodorder</string>
	<key>PROJECT_ID</key>
	<string>flutterfoodorderproject</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfoodorderproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039724275291:ios:1bd36e69bfdc936ace817e</string>
</dict>
</plist>